

*.
*::before,
*::after {
}
.page-body {
    font-family: -apple-system, Roboto, sans-serif;
    letter-spacing: 0.02em;
    background-color: var(--primary-bg-color);
    margin: 0;
}

a {text-decoration: none;}
p { margin: 0;}
img { display: block;}
.list 
{ list-style: none;
color: var(--text-color)
 }
 
 

/* Hero */
.hero {
    text-align: center;
    /* max-width: 1600px;
    margin-left: auto;
    margin-right: auto; */
}

.hero-title { 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    color: var(--primary-bg-color);
    margin-top: 0;
    margin-bottom: 30px;
}

.hero-container {
    background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), 
    url("../images/hero-bcg.jpg");
    background-color: var(--footer-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    /* width: 696px;
    margin-right: auto;
    margin-left: auto; */

}

.hero-button { 
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-decoration: none;
    transition: background-color var(--transition);
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.modal {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    background: var(--primary-bg-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;
    outline: none;
    background-color: var(--primary-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.cross-button {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill var(--transition);
}

.modal-button:hover, .modal-button:focus .cross-button {
    fill: var(--accent-color);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-form {
    width: 448px;
    height: 342px;
    margin-left: auto;
    margin-right: auto;
}

.modal-title {
    display: inline-block;
    width: 448px;
    padding-top: 25px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    
}

.modal-form .comment {
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
}

.comment::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-form .comment:focus {
    outline-color: var(--accent-color);
}

.modal-form-field {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}



.modal-label {
    /* position: absolute; */
    left: 0;
    top: -18px;
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    user-select: none;

color: var(--text-color);
}

.modal-input {
    position: relative;
    display: block;
    width: 448px;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    /* transition: outline-color var(--transition); */
}

.form-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 50%;
    transition: fill var(--transition);

}

.modal-input:focus {
    outline-color: var(--accent-color);
}

.modal-input:focus ~ .form-icon {
    fill: var(--accent-color);
}

.modal-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primary-bg-color);

}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}

.checkbox-label::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var( --link-color);
    border-radius: 2px;   
}

.checkbox:checked + .checkbox-label::after {
    background-color: var(--accent-color);
    background-image: url('../images/custom_check.svg');
    background-size: contain;
    background-origin: border-box ;
    border-color: transparent;
}

.checkbox-label {
    width: 423px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    user-select: none;
}


/* .modal-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    vertical-align: text-bottom;
    border: 2px solid var(--link-color);
    border-radius: 2px;
}

.checkbox:checked + .modal-icon {
    background-color: var(--accent-color);
    background-image: url('../images/custom_check.svg');
    background-size: contain;
    background-origin: border-box ;
    border-color: transparent; */
    /* transition: background-color var(--transition),
    border-color var(--transition); */
/* } */

.modal-label .accept-text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-left: 7px;
}

.modal-accept-field {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    
}

.modal-accept-field a {
    text-decoration: underline;
    color: var(--accent-color);
}


/* .modal {
    position: absolute;
    height: 581px;
    width: 528px;
    background-color: var(--primary-bg-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
} */

/* Section */
.section {
    padding: 94px 0px;
    /* padding-right: 10px;
    padding-left: auto; */
}

.advantage-section {
    padding-top: 94px;
    /* padding-right: 10px;
    padding-left: auto; */
    }       
.section:first-child { padding-bottom: 0;}
.title {
    margin: 0 0 10;
}

.text { margin: 0;}

.section-title { 
    color: var(--heading-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50;    
}
.team { 
    background: var(--secondary-bg-color);
    padding-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    padding: 0;
    margin: 0;
}
/* Advantages */
.advantage-list { 
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;}
.advantage-list .title { 
    color: var(--heading-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase; 
    }
.advantage-list .text { 
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.71;
}

.advantage-list .list {
    width: 270px;
    margin-left: 30px;
}
.advantage-list .list:first-child {
    margin-left: 0px;
}

.advantage-icon {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bg-color);
    margin-bottom: 30px;
    border-radius: 3px;
}

.advantage-item {
    width: 70px;
}
/* .advantage-list .list::before {
    content: "";
    display: block;
    height: 120px;
    background-color: var(--icon-color);
    border-radius: 4px;
    margin-bottom: 30px;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: right 100px bottom 25px;
}

.icon-antena::before {
    background-image: url(../images/icon1.svg);
}
.icon-time::before {
    background-image: url(../images/icon2.svg);
}
.icon-pc::before {
    background-image: url(../images/icon3.svg);
}
.icon-spaceman::before {
    background-image: url(../images/icon4.svg);
} */

/* .list:nth-child(1)::before {
    background-image: url(../images/icon1.png);
}
.list:nth-child(2)::before {
   background-image: url(../images/icon2.png);
}
.list:nth-child(3)::before {
   background-image: url(../images/icon3.png);
}
.list:nth-child(4)::before {
   background-image: url(../images/icon4.png);
} */


/* Buttons */ 
.hero-button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    color: var(--primary-bg-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
/* .hero-button:hover,
.hero-button:focus {
    background-color: var(--primary-bg-color)
    color: var(--accent-color)
} */

/* Чем мы занимаемся */

.working {
    display: flex;
    padding: 0;
    /* padding-bottom: 94px; */
    margin: 0;
}

.working .list {
    width: 370px;
    position: relative;
}
.working .list:not(:last-child) {
    margin-right: 30px;
}

.working-text {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-bg-color);
}



/* Наша команда */
.ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.ul .list:not(:last-child) {
    margin-right: 30px;
}
.ul .list {
    width: 270px;
    background-color: var(--primary-bg-color);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item {

padding-top: 30px;
}

/* .list .team-item::after {
    content: "";
    display: inline-block;
    width: 206px;
    height: 44px;
    background-image: url(../images/instagram2.svg);
    background-position: center;
    background-repeat: no-repeat;
} */

/* .list .team-item::after {
    content: "";
    display: inline-block;
    height: 44px;
    width: 206px;
    background-image: url(../images/twitter.svg), url(../images/instagram.svg);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: right 100px bottom 25px;
} */

/* .icon-antena::before {
    background-image: url(../images/icon1.svg);
}
.icon-time::before {
    background-image: url(../images/icon2.svg);
}
.icon-pc::before {
    background-image: url(../images/icon3.svg);
}
.icon-spaceman::before {
    background-image: url(../images/icon4.svg);
} */

/* .list:nth-child(1)::before {
    background-image: url(../images/icon1.png);
}
.list:nth-child(2)::before {
   background-image: url(../images/icon2.png);
}
.list:nth-child(3)::before {
   background-image: url(../images/icon3.png);
}
.list:nth-child(4)::before {
   background-image: url(../images/icon4.png);
} */

.team-member { 
    color: var(--heading-color);
    margin: 0px 0px 10px;
    /* margin-top: 30px; */
    margin-bottom: 10px;
}

.networks {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 206px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 16px;
    padding: 0;
}
.network-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition);
    
}

.network-link:hover,
.network-link:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
}

.icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill var(--transition);
    /* padding: 12px; */
}

.icon-link {
    width: 44px;
    height: 44px;
}

.network-link:hover .icon,
.network-link:focus .icon {
    fill: var(--primary-bg-color);
}



.inst {
    background-image: url(../images/instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}
.twit {
    background-image: url(../images/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}

.fb {
    background-image: url(../images/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}

.linkedin {
    background-image: url(../images/linkedin.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}

/* .position {
    margin-bottom: 30px;
} */

.section-clients .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.clients-item {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--network-color);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border var(--transition);
}

.clients-icon {
    /* width: 88px; */
    fill: var(--network-color);
    transition: fill var(--transition);
}

.brand {
    margin-right: auto;
    margin-left: auto;
}

.clients-item:hover,
.clients-item:focus {
    border: 1px solid var(--accent-color)
}

.clients-item:hover .clients-icon {
    fill: var(--accent-color);
}



/* Portfolio */

/* .main-port {
    padding-top: 94px;
} */
.portfolio-link {
    display: inline-block;
    padding: 20;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--link-color);
    text-decoration: none;
    background-color: var(--secondary-bg-color);
    
}
.portfolio-link:hover,
.portfolio-link:focus,
.portfolio-item:hover,
.portfolio-item:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list .item:not(:first-child) {
    margin-left: 8px;
}
.portfolio-item {
    border-color: transparent;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
    padding: 6px 22px;
    transition: color var(--transition),
    background-color var(--transition);
}

.portfolio-list { 
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px 0px 34px;
    padding: 0;
}

.works {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0;
    list-style: none;
}

.worklist {
    position: relative;
    width: calc((100% - 30px * 2) / 3);
    margin: 15px;
    outline: 1px solid var(--border-color)
    text-decoration: none;
    box-shadow: none;
    transition: box-shadow var(--transition);
}

.worklist:nth-child(3n + 1) {
    margin-left: 0;
}

.worklist:nth-child(3n) {
    margin-right: 0;
}

.worklist:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.worklist:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-img {
    position: relative;
    overflow: hidden;
}

.product-overlay {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    transform: translateY(100%);
    transition: transform var(--transition);
}

.worklist:hover .product-overlay {
    transform: translateY(0%);
}

.product-text {
    position: absolute;
    top: 63px;
    left: 24px;
    right: 24px;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: 0.03em;

    color: var(--primary-bg-color)
}

.work-item {
padding: 20px 24px;
}

.worklist-title {
    font-weight: 700;
    font-size: 18px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--heading-color);
    margin-bottom: 24px;
    margin-top: 0;
}
.worklist-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    /* margin: 4px 0px 20px 24px; */
}




/* Контейнеры */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}


.port-container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 94px;
    padding-top: 94px;
    width: 1170px;

}
.port-container:nth-last-child(-n+3) {
    margin-bottom: 0;
}


  