*.
*::before,
*::after {
}
.body {
    font-family: -apple-system, Roboto, sans-serif;
    letter-spacing: 0.02em;
    background-color: var(--primary-bg-color);
    margin: 0;
}

a {text-decoration: none;}

p { margin: 0;}

img { display: block;}
.list 
{ list-style: none;
color: var(--text-color)
 }

 .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* !!!!!!!!!!!!COMMON!!!!!!!!!!! */
 

 :root { 
    --heading-color:#212121;
    --text-color:#757575;
    --accent-color:#2196F3;
    --primary-bg-color: #fff;
    --secondary-bg-color: #F5F4FA;
    --black-color: #000000;
    --footer-color: #2F303A;
    --border-color: #EEEEEE;
    --icon-color: #C4C4C4;
    --network-color: #AFB1B8;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --overlay-color: rgba(33, 150, 243, 0.9);
    --link-color: #212121;
}

.page-header {
    display: flex;
    color: var(--black-color: #000000);

    /* border-bottom-width: 3px;
    border-style: solid;
    border-color: var(--heading-color) */
}

.page-header.portfolio {
    color: var(--black-color: #000000);
    border-bottom: 2px solid var(--border-color);
}

.main-nav { display: flex;
    align-items: center;
    padding: 0;
    
}

.site-nav {
    display: flex;
    background: var(--primary-bg-color);
    margin: 0;
    margin-left: 93px;
    padding: 0;
}


.site-nav__list {
    position: relative;
    margin-right: 50px;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px; 
    list-style: none;
    color: var(--text-color);
}
.site-nav__list:last-child {
    margin: 0px;
}

.site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var (var(--heading-color))
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: color var(--transition);
}

.current {
    color: var(--accent-color);
}

.site-nav__link.current::after {
    position: absolute;
    left: 0;
    bottom: -5.5px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link.current,
.cont-nav__item:hover,
.cont-nav__item:focus 
{
    color: var(--accent-color)
}


.cont-nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: auto;
    list-style: none;
}
/* .cont-nav .list + .list {
    margin-left: 50px;
} */

.cont-nav__list:last-child {
    margin-left: 30px;
}

.cont-nav__item {
    padding: 32px 0px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: color var(--transition);
}

.cont-nav__icon {
    width: 16px;
    height: 12px;
    fill: currentColor;
    vertical-align: middle;
    margin-right: 10px;
}

/* .cont-nav .list::before {
    content: "";
    width: 16px;
    height: 12px; */
    /* display: inline-block; */
    /* background-size: auto auto;
    background-repeat: no-repeat; */
    /* background-position: right 100px bottom 25px; */
}

/* .cont-nav .list:nth-child(1) {
    background-image: url(../images/envelope.svg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.cont-nav .list:nth-child(2) {
    background-image: url(../images/smartphone.svg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 20px;
} */

/* .links {
    text-decoration: none;
} */
/* .span { color: var(--black-color);} */




.cont-nav__item:hover .cont-icon { 
    fill: currentColor;
}

/* .site-nav .list {
    
} */
/* .contacts { 
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
} */

/* .header-contacts:hover,
.header-contacts:focus {
    color: var(--accent-color);
} */

.logo { 
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--accent-color); 
    text-decoration: none;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
}

.studio-bl { color: var(--black-color) ;}
.studio-wh { color: var(--primary-bg-color);}

/* Footer */
.footer { 
    background: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    }

.footer__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    /* padding-right: 15px;
    padding-left: 15px; */
}

.footer-logo { 
    display: block;
    margin-bottom: 20px;
    color: var(--accent-color); 
    text-decoration: none;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
}

.footer__contacts {
    margin-right: 70px;
}
.footer-address { 
    color: var(--primary-bg-color);
    font-style: normal;
    margin-bottom: 9px;
}

.footer-join { 
    color: var(--primary-bg-color);
    width: 206px;
    margin-right: 93px;
}

.footer-join__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition);
    }

.footer-join__link:not(:last-child) {
    margin-right: 10px;
}

.footer-join__link:hover {
    background-color: var(--accent-color);
}

.footer-join__icon {
    fill: var(--primary-bg-color);
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.footer__contacts {
    display: inline-block;
    width: 231px;
    height: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
    transition: color var(--transition);
    
}
.footer__contacts:last-child {
    margin: 0;
}

.footer__contacts:hover,
.footer__contacts:focus {
    color: var(--accent-color);
}



.footer-join__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

/* .par {
    margin-bottom: 9px;
} */







.footer-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
}

.footer-form__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--primary-bg-color);
    margin-top: 20px;
    margin-right: 12px;
    padding-left: 16px;
}
.footer-form__input::placeholder {
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

}

.footer-form__button {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;
    padding: 0;
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.footer-form__button-icon {
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}








/* !!!!!!!!!!!!!STYLES!!!!!!! */
 

/* Hero */
.hero {
    text-align: center;
    /* max-width: 1600px;
    margin-left: auto;
    margin-right: auto; */
}

.hero__title { 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    color: var(--primary-bg-color);
    margin-top: 0;
    margin-bottom: 30px;
}

.hero__container {
    background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), 
    url("../images/hero-bcg.jpg");
    background-color: var(--footer-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    /* width: 696px;
    margin-right: auto;
    margin-left: auto; */

}

.hero__button { 
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-decoration: none;
    transition: background-color var(--transition);
    color: var(--primary-bg-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    background: var(--primary-bg-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;
    outline: none;
    background-color: var(--primary-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal__close:hover, 
.modal__close:focus .close-button {
    fill: var(--accent-color);
}

.close-button {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill var(--transition);
}

.modal__form {
    width: 448px;
    height: 342px;
    margin-left: auto;
    margin-right: auto;
}

.modal__title {
    display: inline-block;
    width: 448px;
    padding-top: 25px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    
}

.modal__comment {
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
}

.modal__comment::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal__comment:focus {
    outline-color: var(--accent-color);
}

.modal__field {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}



.modal__label {
    /* position: absolute; */
    left: 0;
    top: -18px;
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    user-select: none;
    color: var(--text-color);
}

.modal__input {
    position: relative;
    display: block;
    width: 448px;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    /* transition: outline-color var(--transition); */
}

.modal__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 50%;
    transition: fill var(--transition);

}

.modal__input:focus {
    outline-color: var(--accent-color);
}

.modal__input:focus ~ .modal__icon {
    fill: var(--accent-color);
}

.modal__submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primary-bg-color);

}

.modal__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}

.modal__checkbox-label {
    width: 423px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    user-select: none;
}

.modal__checkbox-label::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var( --link-color);
    border-radius: 2px;   
}

.modal__checkbox:checked + .modal__checkbox-label::after {
    background-color: var(--accent-color);
    background-image: url('../images/custom_check.svg');
    background-size: contain;
    background-origin: border-box ;
    border-color: transparent;
}

.modal__accept {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    
}


/* .modal-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    vertical-align: text-bottom;
    border: 2px solid var(--link-color);
    border-radius: 2px;
}

.checkbox:checked + .modal-icon {
    background-color: var(--accent-color);
    background-image: url('../images/custom_check.svg');
    background-size: contain;
    background-origin: border-box ;
    border-color: transparent; */
    /* transition: background-color var(--transition),
    border-color var(--transition); */
/* } */


/* .modal {
    position: absolute;
    height: 581px;
    width: 528px;
    background-color: var(--primary-bg-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
} */



/* Section */



/* .section:first-child { padding-bottom: 0;} */
.section {
    padding: 94px 0px;
    /* padding-right: 10px;
    padding-left: auto; */
}



.section__title { 
    color: var(--heading-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50;    
}





/* Advantages */
.advantage { 
    display: flex;
    margin: 0;
    padding: 0;}

.advantage__title { 
    color: var(--heading-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase; 
    }
.advantage__text { 
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.71;
}

/* .icon-antena::before {
    background-image: url(../images/icon1.svg);
}
.icon-time::before {
    background-image: url(../images/icon2.svg);
}
.icon-pc::before {
    background-image: url(../images/icon3.svg);
}
.icon-spaceman::before {
    background-image: url(../images/icon4.svg);
} */

/* .list:nth-child(1)::before {
    background-image: url(../images/icon1.png);
}
.list:nth-child(2)::before {
   background-image: url(../images/icon2.png);
}
.list:nth-child(3)::before {
   background-image: url(../images/icon3.png);
}
.list:nth-child(4)::before {
   background-image: url(../images/icon4.png);
} */

/* .list {
    padding: 0;
    margin: 0;
} */

.advantage__list {
    width: 270px;
    margin-left: 30px;
    list-style: none;
}
.advantage__list:first-child {
    margin-left: 0px;
}

.advantage__item {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bg-color);
    margin-bottom: 30px;
    border-radius: 3px;
}

.advantage__icon {
    width: 70px;
}
/* .advantage .list::before {
    content: "";
    display: block;
    height: 120px;
    background-color: var(--icon-color);
    border-radius: 4px;
    margin-bottom: 30px;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: right 100px bottom 25px;
}

.icon-antena::before {
    background-image: url(../images/icon1.svg);
}
.icon-time::before {
    background-image: url(../images/icon2.svg);
}
.icon-pc::before {
    background-image: url(../images/icon3.svg);
}
.icon-spaceman::before {
    background-image: url(../images/icon4.svg);
} */

/* .list:nth-child(1)::before {
    background-image: url(../images/icon1.png);
}
.list:nth-child(2)::before {
   background-image: url(../images/icon2.png);
}
.list:nth-child(3)::before {
   background-image: url(../images/icon3.png);
}
.list:nth-child(4)::before {
   background-image: url(../images/icon4.png);
} */



/* Чем мы занимаемся */



.working {
    display: flex;
    padding: 0;
    /* padding-bottom: 94px; */
    margin: 0;
}

.working__list {
    width: 370px;
    position: relative;
    list-style: none;
}
.working__list:not(:last-child) {
    margin-right: 30px;
}

.working__text {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-bg-color);
}



/* Наша команда */

.team { 
    background: var(--secondary-bg-color);
    padding-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
}

.team__list {
    display: flex;
    padding: 0;
    margin: 0;
}

.team__list-piece:not(:last-child) {
    margin-right: 30px;
}
.team__list-piece {
    width: 270px;
    background-color: var(--primary-bg-color);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    list-style: none;
    color: var(--text-color);
}

.team__item {

padding-top: 30px;
}

/* .list .team-item::after {
    content: "";
    display: inline-block;
    width: 206px;
    height: 44px;
    background-image: url(../images/instagram2.svg);
    background-position: center;
    background-repeat: no-repeat;
} */

/* .list .team-item::after {
    content: "";
    display: inline-block;
    height: 44px;
    width: 206px;
    background-image: url(../images/twitter.svg), url(../images/instagram.svg);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: right 100px bottom 25px;
} */



.team__member { 
    color: var(--heading-color);
    margin: 0px 0px 10px;
    /* margin-top: 30px; */
    margin-bottom: 10px;
}

.team__networks-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 206px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 16px;
    padding: 0;
}
.team__network-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition);
    
}

.team__network-link:hover,
.team__network-link:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
}

.team__network-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill var(--transition);
    /* padding: 12px; */
}

/* .icon-link {
    width: 44px;
    height: 44px;
} */

.team__network-link:hover .team__network-icon,
.team__network-link:focus .team__network-icon {
    fill: var(--primary-bg-color);
}



/* .inst {
    background-image: url(../images/instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}
.twit {
    background-image: url(../images/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}

.fb {
    background-image: url(../images/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}

.linkedin {
    background-image: url(../images/linkedin.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
} */





.clients__list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.clients__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--network-color);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border var(--transition);
}

.clients__icon {
    /* width: 88px; */
    fill: var(--network-color);
    transition: fill var(--transition);
}

.brand {
    margin-right: auto;
    margin-left: auto;
}

.clients__item:hover,
.clients__item:focus {
    border: 1px solid var(--accent-color)
}

.clients__item:hover .clients__icon {
    fill: var(--accent-color);
}



/* Portfolio */


.portfolio { 
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px 0px 34px;
    padding: 0;
}

.portfolio-link {
    display: inline-block;
    padding: 20;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--link-color);
    text-decoration: none;
    background-color: var(--secondary-bg-color);
    
}
.portfolio-link:hover,
.portfolio-link:focus,
.portfolio__button:hover,
.portfolio__button:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}
.portfolio__button:hover,
.portfolio__button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio .item:not(:first-child) {
    margin-left: 8px;
}
.portfolio__button {
    border-color: transparent;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
    padding: 6px 22px;
    transition: color var(--transition),
    background-color var(--transition);
}



.works {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0;
    list-style: none;
}

.works__list {
    position: relative;
    width: calc((100% - 30px * 2) / 3);
    margin: 15px;
    outline: 1px solid var(--border-color)
    text-decoration: none;
    box-shadow: none;
    transition: box-shadow var(--transition);
}

.works__list:nth-child(3n + 1) {
    margin-left: 0;
}

.works__list:nth-child(3n) {
    margin-right: 0;
}

.works__list:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.works__list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__img {
    position: relative;
    overflow: hidden;
}

.works__overlay {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    transform: translateY(100%);
    transition: transform var(--transition);
}

.works__list:hover .works__overlay {
    transform: translateY(0%);
}

.works__text {
    position: absolute;
    top: 63px;
    left: 24px;
    right: 24px;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: 0.03em;

    color: var(--primary-bg-color)
}

.works__item {
padding: 20px 24px;
}

.works__title {
    font-weight: 700;
    font-size: 18px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--heading-color);
    margin-bottom: 24px;
    margin-top: 0;
}
.works__type {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    /* margin: 4px 0px 20px 24px; */
}




/* Контейнеры */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}


.port-container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 94px;
    padding-top: 94px;
    width: 1170px;

}
.port-container:nth-last-child(-n+3) {
    margin-bottom: 0;
}


  