@import './utils/_variables';

@import './utils/_fonts';

@import './utils/_utils';

@import './components/_page-header';

@import './components/_logo';

@import './components/_btn';

@import './components/_footer';

@import './components/_hero';

@import './components/_modal';

@import './section/_advatnages';

@import './section/_working';

@import './section/_team';

@import './section/_clients';

@import './section/_portfolio';

.modal__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}

.modal__checkbox-label {
    width: 423px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $text-color;
    user-select: none;
}

.modal__checkbox-label::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var( --link-color);
    border-radius: 2px;   
}

.modal__checkbox:checked + .modal__checkbox-label::after {
    background-color: $accent-color;
    background-image: url('../images/custom_check.svg');
    background-size: contain;
    background-origin: border-box ;
    border-color: transparent;
}

.modal__accept {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    
}

.link--policy {
    color: $accent-color;
}