
.logo { 
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $accent-color; 
    text-decoration: none;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
}

.studio-bl { color: $black-color ;}
.studio-wh { color: $primary-bg-color;}